<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Важно за гостите</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="page-wrap-container program-container">

    <h1>Важно за гостите</h1>

    <p>Текст тук!</p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati corrupti explicabo, sequi nostrum minus esse
      voluptates at voluptatem. Necessitatibus sequi quisquam nostrum ea! Similique aliquam, voluptates blanditiis magni
      explicabo a.
    </p>

  </div>

  <div class="page-background-container">
    <img class="frame-img" src="./../../../../assets/images/frame_2.jpg" alt="">
  </div>
</ion-content>